
:root{
    --font-size-main : 30px;
    --font-family-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-font-main-light: dark;
    --color-font-main-dark: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
}
.main-section{
    flex: 1;
    background-color: #f6f3f3;
}
.wrapper{
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0;
}